{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-xs-4 col-xs-push-4"> 
    <div class="panel panel-default ">
        <div class="panel-heading text-center"
          <lable> <strong> User Registration</strong> </label>
        </div>
        <div class=" panel-body">

            {{ form(form) }}
               

            <ul class="record_actions">
                {% if is_granted('ROLE_USER') %}
                <li>
                    <a href="{{ path('main_user2') }}">
                        Back to the list
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    </div>
{% endblock %}
